PORT=3000
DATABASE_URL="file:./dev.db"

ADMIN_EMAIL="your-admin-email@example.com"
ADMIN_PASSWORD="your-admin-password"

ACCESS_KEY="your-access-token-secret"
ACCESS_EXPIRE_DATE="15m"

REFRESH_KEY="your-refresh-token-secret"
REFRESH_EXPIRE_DATE="7d"
